<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:name=".app.ResplashApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resplash"
        tools:targetApi="31">

        <activity
            android:name=".view.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.detail.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.user.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.collection.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.photo.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".view.single.SingleCollectionActivity"
            android:screenOrientation="portrait" />

        <!-- Declare the services -->
        <service
            android:name=".service.FileDownloadService"
            android:exported="false" />

        <provider
            android:name=".utility.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>